@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Edit User";
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Edit User</title></head>
<body>
    <div class="container">
        <nav class="navbar justify-content-end">
            <form class="d-flex searchForm" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </nav>
        <h1>Edit User</h1>
        <div class="container">
            <form class="row g-3 needs-validation" method="post" asp-action="Edit" novalidate>
                <div class="col-md-6 position-relative">
                    <label for="FullName" class="form-label">Full name</label>
                    <input type="text" class="form-control" name="FullName" value="@Model.FullName" placeholder="Full name" required>
                </div>
                <div class="col-md-6 position-relative">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="Email" value="@Model.Email" placeholder="Email" required>
                </div>
                <div class="col-md-6 position-relative">
                    <label for="PhoneNumber" class="form-label">Phone number</label>
                    <input type="text" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="Phone number" required>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Edit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>