@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
	ViewData["Title"] = "Edit Category";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Edit Category</title>
</head>
<body>
	<div class="container">
		<nav class="navbar justify-content-end">
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</nav>

		<div class="container">
			<h1>Edit Category</h1>
			<form class="row g-3 needs-validation" method="post" asp-action="Edit" novalidate>
				<div class="col-md-6 position-relative">
					<label for="Name" class="form-label">Category name</label>
					<input type="text" class="form-control" name="Name" value="@Model.Name"  placeholder="Category name" required>
				</div>
				<div class="col-12">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>